html {
    height: 100%;
}

body {
    background: url('/media/closet-blurry.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: white;
    font-family: 'Roboto';
    opacity: 0.7;
}

.text-logo {
    text-transform: uppercase;
}

.linked-logo {
    width: fit-content;
}

.closet-font {
    text-transform: uppercase;
    font-weight: 800;
}
.shop-now-button {
    background: #FF00FF;
    color: white;
    min-width: 260px;
}

.button-fusia {
    background: #FF00FF;
    color: white;
    font-weight: 900;
}

.txt-blk {
    color: black !important;
}

.font-awesome {
    height: 2rem;
    width: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
}

.buy-button:hover,
.buy-button:active,
.buy-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btn-outline-fusia {
    border: 1px solid black;
    background: white;
    color: #FF00FF !important;  
}

/* ................................. Item details */

.item-name {
    font-size: 120% !important;
    font-weight: 900 !important;
    color: black !important;
}

.item-size {
    color: #2F3B62;
}

.item-vintage {
    color: white;
}

.item-colour {
    color: black;
}

.item-price {
    font-weight: 900;
    color: #FF00FF;
}

.layer {
    background: #D8BFD8;
    position: fixed;
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;	
}

a.category-badge > span.badge:hover {
    background: #af0054;
    color: white;
}

.text-fusia {
    color: #FF00FF;
}

.border-fusia {
    border: 1px solid #FF00FF;
}

.border-black {
    border: 1px solid black; /* working??? */
}

.ajlt {
    font-weight: 900;
}

.btt-link {
    cursor: auto;
}

.btt-button {
    position: fixed;
    right: 15px; 
    bottom:15px;
    height: 40px;
    width: 40px;

}
/* ............................................... Media Queries */


/* Bigger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar - medium and larger */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}