<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-fusia mr-5" href="#" id="carrie" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Carrie
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="carrie">
                <a href="{% url 'items' %}?category=carrie_shoes" class="dropdown-item">Shoes</a>
                <a href="{% url 'items' %}?category=carrie_bags" class="dropdown-item">Bags</a>
                <a href="{% url 'items' %}?category=carrie_blazers" class="dropdown-item">Blazers</a>
                <a href="{% url 'items' %}?category=carrie_jewellery" class="dropdown-item">Jewellery</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-fusia mr-5" href="#" id="charlotte" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Charlotte
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="charlotte">
                <a href="{% url 'items' %}?category=charlotte_shoes" class="dropdown-item">Shoes</a>
                <a href="{% url 'items' %}?category=charlotte_tops" class="dropdown-item">Tops</a>
                <a href="{% url 'items' %}?category=charlotte_bags" class="dropdown-item">Bags</a>
                <a href="{% url 'items' %}?category=charlotte_skirts" class="dropdown-item">Skirts</a>
                <a href="{% url 'items' %}?category=charlotte_jewellery" class="dropdown-item">Jewellery</a>
                <a href="{% url 'items' %}?category=charlotte_dresses" class="dropdown-item">Dresses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-fusia" href="#" id="miranda" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Miranda
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="miranda">
                <a href="{% url 'items' %}?category=miranda_shoes" class="dropdown-item">Shoes</a>
                <a href="{% url 'items' %}?category=miranda_tops" class="dropdown-item">Tops</a>
                <a href="{% url 'items' %}?category=miranda_bags" class="dropdown-item">Bags</a>
                <a href="{% url 'items' %}?category=miranda_dresses" class="dropdown-item">Dresses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-fusia mr-5" href="#" id="everything" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="everything">
                <a href="{% url 'items' %}?sort=price&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'items' %}?sort=rating&direction=decs" class="dropdown-item ">By Rating</a>
                <a href="{% url 'items' %}?sort=category&direction=asc" class="dropdown-item ">By Price</a>
                <a href="{% url 'items' %}" class="dropdown-item">All Closet</a>
            </div>
        </li>
    </ul>
</div>