{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'pay/css/pay.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="layer"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-4">Cheers!</h2>  
                <p class="text-fusia">Thank you for your order! A confirmation email will be sent to {{ order.mail }}</p> 
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7"></div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7 text-left">
                <a href="{% url 'items' %}" class="btn btn-black rounded-0 my-2">
					<span class="icon mr-2">
						<i class="fas fa-gifts"></i>
					</span>
					<span class="text-uppercase">Go back to the shop</span>
				</a>
            </div>
        </div>
{% endblock %}

