/* From stripe.com */

.StripeElement,
.stripe {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 6px;
  /* background-color: #fcf3fc; */
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe:focus,
.stripe:active {
  box-shadow: 0 1px 3px 0 #f5bff7;
}

.StripeElement--webkit-autofill {
  background-color: white !important;
}

.stripe::placeholder {
    color: #eeb5e0;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}
